# Environment file for auth-stack.yml
# Copy this file to auth-stack.env and fill in the values.

# -- Global Settings --
# Sets the project name for Docker Compose, which prefixes container and network names.
COMPOSE_PROJECT_NAME=my_infra

# -- PostgreSQL Configuration --
# The user for the PostgreSQL database.
POSTGRES_USER=admin
# The password for the PostgreSQL user. Use a strong, unique password.
POSTGRES_PASSWORD=your_strong_password
# The name of the database to be created on startup.
POSTGRES_DB=auth-service
# The external port to map to the PostgreSQL container's port 5432.
POSTGRES_PORT=5432

# -- Redis Configuration --
# The password to protect the Redis instance.
REDIS_PASSWORD=your_strong_redis_password
# The external port to map to the Redis container's port 6379.
REDIS_PORT=6379

# -- BankApp Auth Service --
# -- put your auth server hostname here
PASSKEY_RPID=localhost
# -- put your FE hostname here
PASSKEY_ORIGIN=http://localhost
# Spring Config
SPRING_PROFILES_ACTIVE=prod
# Server config
PORT=8080
# Dependencies configuration (configured for docker-compose)
RABBIT_MQ_HOST=rabbitmq
REDIS_HOST=redis
POSTGRES_HOST=postgres
